//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 09 10:11:46 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P79" LEVEL 1;
COMP "rst" LOCATE = SITE "P94" LEVEL 1;
COMP "result<10>" LOCATE = SITE "P182" LEVEL 1;
COMP "result<11>" LOCATE = SITE "P147" LEVEL 1;
COMP "result<20>" LOCATE = SITE "P130" LEVEL 1;
COMP "result<12>" LOCATE = SITE "P19" LEVEL 1;
COMP "result<21>" LOCATE = SITE "P196" LEVEL 1;
COMP "result<13>" LOCATE = SITE "P137" LEVEL 1;
COMP "result<30>" LOCATE = SITE "P167" LEVEL 1;
COMP "result<22>" LOCATE = SITE "P190" LEVEL 1;
COMP "result<14>" LOCATE = SITE "P144" LEVEL 1;
COMP "result<31>" LOCATE = SITE "P204" LEVEL 1;
COMP "result<23>" LOCATE = SITE "P191" LEVEL 1;
COMP "result<15>" LOCATE = SITE "P148" LEVEL 1;
COMP "result<40>" LOCATE = SITE "P185" LEVEL 1;
COMP "result<32>" LOCATE = SITE "P205" LEVEL 1;
COMP "result<24>" LOCATE = SITE "P175" LEVEL 1;
COMP "result<16>" LOCATE = SITE "P146" LEVEL 1;
COMP "result<41>" LOCATE = SITE "P187" LEVEL 1;
COMP "result<33>" LOCATE = SITE "P154" LEVEL 1;
COMP "result<25>" LOCATE = SITE "P169" LEVEL 1;
COMP "result<17>" LOCATE = SITE "P168" LEVEL 1;
COMP "result<50>" LOCATE = SITE "P27" LEVEL 1;
COMP "result<42>" LOCATE = SITE "P194" LEVEL 1;
COMP "result<34>" LOCATE = SITE "P150" LEVEL 1;
COMP "result<26>" LOCATE = SITE "P178" LEVEL 1;
COMP "result<18>" LOCATE = SITE "P184" LEVEL 1;
COMP "result<51>" LOCATE = SITE "P10" LEVEL 1;
COMP "result<43>" LOCATE = SITE "P9" LEVEL 1;
COMP "result<35>" LOCATE = SITE "P149" LEVEL 1;
COMP "result<27>" LOCATE = SITE "P7" LEVEL 1;
COMP "result<19>" LOCATE = SITE "P181" LEVEL 1;
COMP "result<60>" LOCATE = SITE "P20" LEVEL 1;
COMP "result<52>" LOCATE = SITE "P171" LEVEL 1;
COMP "result<44>" LOCATE = SITE "P13" LEVEL 1;
COMP "result<36>" LOCATE = SITE "P189" LEVEL 1;
COMP "result<28>" LOCATE = SITE "P199" LEVEL 1;
COMP "result<61>" LOCATE = SITE "P22" LEVEL 1;
COMP "result<53>" LOCATE = SITE "P11" LEVEL 1;
COMP "result<45>" LOCATE = SITE "P198" LEVEL 1;
COMP "result<37>" LOCATE = SITE "P176" LEVEL 1;
COMP "result<29>" LOCATE = SITE "P200" LEVEL 1;
COMP "result<62>" LOCATE = SITE "P85" LEVEL 1;
COMP "result<54>" LOCATE = SITE "P197" LEVEL 1;
COMP "result<46>" LOCATE = SITE "P166" LEVEL 1;
COMP "result<38>" LOCATE = SITE "P183" LEVEL 1;
COMP "result<63>" LOCATE = SITE "P21" LEVEL 1;
COMP "result<55>" LOCATE = SITE "P16" LEVEL 1;
COMP "result<47>" LOCATE = SITE "P143" LEVEL 1;
COMP "result<39>" LOCATE = SITE "P152" LEVEL 1;
COMP "result<56>" LOCATE = SITE "P12" LEVEL 1;
COMP "result<48>" LOCATE = SITE "P4" LEVEL 1;
COMP "result<57>" LOCATE = SITE "P15" LEVEL 1;
COMP "result<49>" LOCATE = SITE "P3" LEVEL 1;
COMP "result<58>" LOCATE = SITE "P18" LEVEL 1;
COMP "result<59>" LOCATE = SITE "P172" LEVEL 1;
COMP "start" LOCATE = SITE "P128" LEVEL 1;
COMP "result<0>" LOCATE = SITE "P126" LEVEL 1;
COMP "result<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "result<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "result<3>" LOCATE = SITE "P139" LEVEL 1;
COMP "result<4>" LOCATE = SITE "P24" LEVEL 1;
COMP "result<5>" LOCATE = SITE "P141" LEVEL 1;
COMP "result<6>" LOCATE = SITE "P140" LEVEL 1;
COMP "result<7>" LOCATE = SITE "P135" LEVEL 1;
COMP "result<8>" LOCATE = SITE "P180" LEVEL 1;
COMP "result<9>" LOCATE = SITE "P132" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

