
#pin2ucf - Wed Dec 23 23:41:51 2020
#The following constraints were newly added
NET "result<8>" LOC = P180;
NET "result<9>" LOC = P132;
NET "result<10>" LOC = P182;
NET "result<11>" LOC = P147;
NET "result<12>" LOC = P19;
NET "clk" LOC = P79;
NET "result<13>" LOC = P137;
NET "result<14>" LOC = P144;
NET "result<20>" LOC = P130;
NET "result<15>" LOC = P148;
NET "result<21>" LOC = P196;
NET "result<16>" LOC = P146;
NET "result<22>" LOC = P190;
NET "result<17>" LOC = P168;
NET "result<23>" LOC = P191;
NET "result<18>" LOC = P184;
NET "result<24>" LOC = P175;
NET "result<19>" LOC = P181;
NET "rst" LOC = P94;
NET "result<30>" LOC = P167;
NET "result<25>" LOC = P169;
NET "result<31>" LOC = P204;
NET "result<26>" LOC = P178;
NET "result<32>" LOC = P205;
NET "result<27>" LOC = P7;
NET "result<33>" LOC = P154;
NET "result<28>" LOC = P199;
NET "result<34>" LOC = P150;
NET "result<29>" LOC = P200;
NET "result<40>" LOC = P185;
NET "result<35>" LOC = P149;
NET "result<41>" LOC = P187;
NET "result<36>" LOC = P189;
NET "result<42>" LOC = P194;
NET "result<37>" LOC = P176;
NET "result<43>" LOC = P9;
NET "result<38>" LOC = P183;
NET "result<44>" LOC = P13;
NET "result<39>" LOC = P152;
NET "result<50>" LOC = P27;
NET "result<45>" LOC = P198;
NET "result<51>" LOC = P10;
NET "result<46>" LOC = P166;
NET "start" LOC = P128;
NET "result<52>" LOC = P171;
NET "result<47>" LOC = P143;
NET "result<53>" LOC = P11;
NET "result<48>" LOC = P4;
NET "result<54>" LOC = P197;
NET "result<49>" LOC = P3;
NET "result<60>" LOC = P20;
NET "result<55>" LOC = P16;
NET "result<61>" LOC = P22;
NET "result<56>" LOC = P12;
NET "result<62>" LOC = P85;
NET "result<0>" LOC = P126;
NET "result<57>" LOC = P15;
NET "result<63>" LOC = P21;
NET "result<1>" LOC = P133;
NET "result<58>" LOC = P18;
NET "result<59>" LOC = P172;
NET "result<2>" LOC = P138;
NET "result<3>" LOC = P139;
NET "result<4>" LOC = P24;
NET "result<5>" LOC = P141;
NET "result<6>" LOC = P140;
NET "result<7>" LOC = P135;
